* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans';
}
html , body {
    height: 100%;
    width: 100%;
}

*::selection {
    background-color: #FCE8B7;
}


#page1 {
    height: 100%;
    width: 100%;
    /* background-color: rgb(255, 194, 194); */
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1 {
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4 {
    font-size: 13.1px;
    font-weight: bolder;
    padding: 0 16px;
}

#nav img {
    height: 13.8vh;
    position: relative;
    left: 3%;
}

#nav-part2 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button {
    padding: 15px 20px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 10px;
    cursor: pointer;
}


#nav-part2 button:nth-child(1) {
    background-color: transparent;
    color: black;
    font-weight: bolder;
}



#content {
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: rgb(216, 156, 168); */
    padding-top: 12vh;
}

#content h3 {
    width: fit-content;
    background-color: #F2B0EA;
    border: 0px solid black;
    border-radius: 100px;
    padding: 11px 18px;
    font-size: 1vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Source Serif 4';
}




#content h1 {
    font-size: 72px;
    text-align: center;
    margin-top: 5vh;
    font-family: 'Source Serif 4';
    font-weight: 100;
    line-height: 76px;
}

#content h4 {
    text-align: center;
    font-size: 1.15vw;
    margin: 2.8vh 0;
}

#content button {
    padding: 18px 22px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    margin: 15px 10px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-59%);
    margin-bottom: 60px;

}




#bottom {
    height: 400px;
    width: 100%;
    background-color: red;
    padding: 5px;
    white-space: nowrap;
    
}


.elem {
    display: inline-block;
    height: 95%;
    width: 310px;
    background-color: royalblue;
    border: 2px solid black;

}